BUILT-in Functions

MOST dbs come with built-n SQL functions()
Built-in functions can be included as part of SQL Statements
CAN speed up data processing

AGGREGRATE || COLUMN FUNCTIONS
    -SUM()
    -MIN()
    -MAX()
    -AVG()
    
    **Aggregate ()=> take collection of values as input &
        RETURN a __Single_Value__
    **Param is <column_name> to perform aggregate function on.

    **Column in result set is given a number, use an ALIAS to give it a name

COLUMN ALIAS
Can Explicitly name columns in output column using an Alias with 'as'

EXAMPLE
    select SUM(COST) as some_alias_name
        from column_name

SCALAR and STRING FUNCTIONS

SCALAR: Perform operations on every input value essentially mapping it.
    -ROUND()
    -LENGTH()
    -UCASE
    -LCASE
**Can be used in WHERE Clause

DATE & TIME Built-in Functions
Most DBs contain special datatypes for dates & times
For Example:
    DB2:{
        DATE : YYYYMMDD,
        TIME : HHMMSS,
        TIMESTAMP : YYYYXXDDHHMMSSZZZZZZ

        YEAR()
        MONTH()
        DAY()
        DAYOFMONTH()
        DAYOFWEEK()
        DAYOFYEAR()
        WEEK()
        HOUR()
        MINUTE()
        SECOND()
    }
** Date & time functions provided by DB2 to extract info from special data types
** Can be used in WHERE Clause 

Can do Date || Time Arithmetic 
    SELECT (RESCUEDATE + 3 DAYS) from PETRESCUE

SPECIAL REGISTERS
    -CURRENT_DATE
    -CURRENT_TIME
**Can find out time passed between 2 dates or times using 
    SELECT (CURRENT_DATE - RESCUEDATE) FROM PETRECUE

MySQL provides these built-in functions for Date & Time
    DATE_ADD()
    DATE_SUB()
    DATEDIFF()
    FROM_DAYS()
SELECT DATE_ADD(RESCUEDATE, INTERVAL 2 MONTH) FROM PETRESCUE

Sub-Queries & Nested Selects

Sub-query: A query inside another query
    -placed within () paranthesis

**PRODUCES ___ERROR___, INVALID USE OF AGGREGATE FUNCTION, cannot evaluate aggregate functions in WHERE Clause
SELECT * FROM Employees
    WHERE Salary > AVG(Salary )

**MUST USE A SUB-QUERY, a sub-Select expression
SELECT EMP_ID, F_NAME, SALARY
    FROM Employees
    WHERE SALARY < 
    (select AVG(SALARY) FROM Employees)



When a Sub-query is used in place of a column_name in a SELECT statement
    its refered to as a ___COLUMN_EXPRESSION___

When a Sub-query is used in FROM Clause, ie substitute the TABLE Name w/ a sub-query
    its refered to as a ___DERIVED_TABLES___  || ___TABLE_EXPRESSIONS___ 
    **OUTER QUERY USES RESULT OF SUB QUERY AS A DATA SOURCE
    **REQUIRED to give ___Derived_Tables___ an ALIAS

WORKING W/ MULTIPLE TABLES
    1) SUB-Queries
    2) Implicit JOIN
    3) JOIN operators (INNER_JOIN, OUTER_JOIN, etc.)

IMPLICIT JOIN

Can specify more than 1 table in the FROM Clause to join tables
    SELECT * FROM Table_One, Table_Two
*Results in a full join (Cartesian Join)
    -Every ROW in 1st table is joined w/ every row in 2nd table

When accessing a column from a table use 'Dot Notation' syntax
    SELECT * FROM Table_One, Table_Two
        WHERE Table_One.column

Can give Tables ALIASES also when joining them
    SELECT * FROM Table_One T_ONE, Table_Two, T_TWO
        WHERE T_ONE.column

COLUMN names can be prefixed by aliases 
    SELECT T_ONE.prop FROM Table_ONE T_ONE, Table_Two T_TWO