When working with mixed-case column names like player_Id we use double quotes "player_Id"
    SELECT "player_Id" FROM My_Table
**IMPORTANT Use Double Quotes

If Column names have spaces or special characters will be mapped to underscores _

GETTING TABLE & COLUMN NAMES

DBs Normally contain System || Catalog tables which we can query the list of tables and get their properties