RELATIONAL DBs are very Object Oriented
Entities are essentially Objects while their attributes are object properties.

In a Relational DB Each Entity/Object is a Table Where the columns are the attributes/properties.

Each Tables has a PRIMARY KEY: Unique to each table
**FOREIGN KEY: Is a Primary Key defined in another TABLE creating a link between tables.

TYPES OF SQL STATEMENTS
    1)DDL : Data Definition Language, define change || drop data.
        -CREATE : to create tables and defining columns
        -ALTER : Adding & Dropping columns & modifying data types
        -TRUNCATE : Deletes data IN table but NOT table itself.
        -DROP : For deleting Tables
        **Often Refered to as CRUD Operation (create, read, update, delete)

    2)DML : Data Manipulation Language
        -INSERT : for inserting row(s) into a table
        -SELECT : Reads || selects rows from a table
        -UPDATE : edit row(s)
        -DELETE : Removes ROW from a table

CREATE table
SYNTAX: CREATE TABLE <new_table_name>  
    (
    column_name_1 datatype optional_params,
    column_name_2 datatype optional_params,
    column_name_3 datatype,
    ...
    )

For Example to create a table for CANADIAN PROVINCES
CREATE TABLE provinces(
    id char(2) PRIMARY KEY NOT NULL,
    name varchar(24)
)

** char = fixed character length ie char(2)
** varchar = string of variable length, pass max length ie varchar(24)
__OPTIONAL_PARAMS__
    -NOT NULL : constraint that makes it so value cannot be left null ie Primary Keys

ALTER DROP & TRUNCATE tables
_____________________________________________________________________________________________________________________
    ALTER TABLE... ALTER COLUMN:
        -to add or remove columns
        -modify datatype of col
        -add || remove keys
        -add || remove constraints

        SYNTAX:
            *(ADD)
            ALTER TABLE <table_to_alter>
                ADD COLUMN <col_name_1> datatype
                ...
                ADD COLUMN <col_name_n> datatype

            ----------------------------------------

            *(ALTER COLUMN)
            ALTER TABLE <table_to_alter>
                ALTER COLUMN <column_name> SET DATA TYPE
            <datatype>

            ----------------------------------------

            *(DROP)
            ALTER TABLE <table_to_alter>
                DROP COLUMN <column_name>
___________________________________________________________________________________________________________________
    DROP TABLE
        -Removes a Table from DB and table data

        SYNTAX:
            DROP TABLE <table_name>
____________________________________________________________________________________________________________________
    TRUNCATE TABLE
        -Used to remove all rows from a table but not table itself

        SYNTAX:
            TRUNCATE TABLE <table_name>
                IMMEDIATE;

**IMMEDIATE ^ specifies to process the statement immediately and that the action can ! be undone

MODIFY Clause is used to alter the definition of existing columns in the table.
  This allows us to make changes to various aspects of the column including 
  datatype, size, constraints.

ALTER TABLE table_name
CHANGE old_column_name new_column_name new_data_type [size];

**The functionality of CHANGE and MODIFY is essentially the same.
  They both allow you to modify the definition of existing columns.